prac/__pycache__/admin.cpython-39.pyc
prac/__pycache__/serializers.cpython-39.pyc
prac/__pycache__/urls.cpython-39.pyc
prac/__pycache__/views.cpython-39.pyc
prac/__pycache__/models.cpython-39.pyc
pracproject/__pycache__/urls.cpython-39.pyc
